.AppList {
  margin: 0 auto;
}

.no-scroll .app-popup-window {
  position: fixed;
  z-index: 1;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
button {
  padding: 0;
  background: none;
  border: none;
}
button:focus {
  outline: 2px solid #42b983;  /* Custom focus indicator for buttons */
}

.plus-icon {
  position: relative;
  width: 100%;
  height: 100%;
}
.plus-icon:before,
.plus-icon:after {
  content: "";
  display: block;
  width: 2px;
  height: 16px;
  background-color: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.plus-icon:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.card-item {
  box-shadow: 0 23px 7px -21px rgba(0, 0, 0, 0.5);
  background-color: black;
  background-position: center center;
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
  min-height: 460px;
  background-size: cover;
  max-width: 100vw;
  margin: 20px auto;
  text-decoration: none;
  transition: margin-left 120ms ease, margin-right 120ms ease,
    margin-top 120ms ease, border-radius 120ms ease, left 520ms ease,
    right 520ms ease, top 520ms ease, height 520ms ease,
    -webkit-transform 320ms ease 250ms;
  transition: transform 320ms ease 250ms, margin-left 120ms ease,
    margin-right 120ms ease, margin-top 120ms ease, border-radius 120ms ease,
    left 520ms ease, right 520ms ease, top 520ms ease, height 520ms ease;
  transition: transform 320ms ease 250ms, margin-left 120ms ease,
    margin-right 120ms ease, margin-top 120ms ease, border-radius 120ms ease,
    left 520ms ease, right 520ms ease, top 520ms ease, height 520ms ease,
    -webkit-transform 320ms ease 250ms;
}

.card-item:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
  transition: height 400ms ease-out 200ms;
  border-radius: 15px;
}

/* .card-item:after {
  background-color: #fff;
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 0;
  transition: height 400ms ease-out 200ms;
  z-index: -1;
}*/

.card-item.is-active {
  max-width: 100vw;
  margin: 0px auto;
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 0;
  z-index: 9999;
  min-height: 100vh;
  border-radius: 0px;
  background-image: none !important;
}
body.mobile-scroll.no-scroll div#app div.hello section a.card-item.is-active {
  height: 100vh;
  position: fixed;
}
a.card-item .card-item-body-description {
  overflow: hidden;
}
a.card-item.is-active .card-item-body-description {
  overflow: visible;
}

.card-item.is-active .card-item-header-add {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.card-item.is-active .card-item-body-description {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  padding-top: 0;
  z-index: 999;
  color: white;
  text-align: left;
  line-height: 1.7em;
}
.card-item-body {
  z-index: 1;
}
/* .card-item:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}*/
.card-item-header {
  z-index: 1;
  display: flex;
  width: 100%;
}
.card-item.is-active .card-item-header {
  padding: 15px;
  justify-content: flex-end;
  margin-left: -30px;
}
.card-item-header-add {
  background-color: #fff;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  transition: -webkit-transform 200ms ease 500ms;
  transition: transform 200ms ease 500ms;
  transition: transform 200ms ease 500ms, -webkit-transform 200ms ease 500ms;
}

.card-item-body-title {
  text-align: center;
}

.card-item-body-description {
  opacity: 0;
  height: 0;
  -webkit-transform: translate(0, 5px) scale(0.85);
  transform: translate(0, 5px) scale(0.85);
  transition: opacity 200ms ease 200ms, height 200ms ease 200ms,
    -webkit-transform 200ms ease 200ms;
  transition: transform 200ms ease 200ms, opacity 200ms ease 200ms,
    height 200ms ease 200ms;
  transition: transform 200ms ease 200ms, opacity 200ms ease 200ms,
    height 200ms ease 200ms, -webkit-transform 200ms ease 200ms;
}

/** **/
.card-item.is-active .card-item-body {
  display: none;
}
.content-holder {
  margin: 0 auto;
  padding: 0;
  z-index: 1;
  background-color: transparent;
  position: relative;
}

.container-content {
  margin: 0 auto;
}

.inner-content {
  height: 100vh;
  overflow: scroll;
  margin: 0 auto;
  max-width: 100vw;
  top: 0;
  padding: 20px;
  position: relative;
  overflow: scroll;
  z-index: 1;
  background-color: transparent;
  position: relative;
  overflow-x: hidden;
}

.inner-content {
  padding-bottom: env(safe-area-inset-bottom); /* for iPhone X */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.details {
  font-size: 13px;
  padding-top: 50px;
}

.details .list p {
  padding: 0;
  margin: 0;
}

.left-img {
  text-align: left;
}
.left-first-img {
  max-width: 103%;
  overflow-x: hidden;
  overflow: hidden;
}
.left-first-img h1 {
  margin-top: -40px;
  font-size: 80px;
  color: #f3f3f3;
  margin-bottom: 80px;
  width: 150%;
  /* text-align: right;*/
  position: absolute;
}
.container {
  width: 100vw;
}
.left-first-img img {
  max-height: 400px;
  width: 95%;
  object-fit: cover;
}
.left-img img {
  max-width: 100%;
}
.right-img {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 70px;
}
.right-img img {
  max-width: 100%;
}
.main-description {
  margin-top: 30px;
}
.git-logo {
  padding: 5px;
  width: 20px;
}
.Footer__FooterTop {
  padding-top: 30px;
}
.Footer__SocialLinks {
  width: 200px;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(5, auto);
  margin: 20px auto;
}
.Footer__SocialLinks svg {
  width: 17px;
  fill: #a9a9a9;
}
.Footer__Copyright {
  color: #767676;
  padding-bottom: 30px;
}
.hello nav a {
  color: #2c3e50;
  text-decoration: none;
}

.hello nav a svg {
  position: absolute;
  padding: 2px 5px;
  fill: #2c3e50;
  text-decoration: none;
}
.hello nav a svg.back {
  position: absolute;
  margin: -1px -30px;
  fill: #2c3e50;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .left-first-img {
    max-width: 106%;
  }
  .left-first-img h1 {
    margin-top: -50px;
    font-size: 150px;
  }
  .inner-content {
    padding: 0 50px;
  }
}
@media screen and (min-width: 769px) {
  .details {
    padding-top: 150px;
  }
  .card-item.is-active .card-item-header {
    padding: 15px;
    justify-content: space-between;
    margin-left: 0;
  }

  .right-img {
    text-align: right;
    padding-top: 150px;
    padding-bottom: 80px;
  }
  .left-img img {
    max-width: 700px;
  }
  .right-img img {
    max-width: 700px;
  }
  .card-item-body-title {
    text-align: center;
    font-size: 1.3em;
  }
  .left-first-img h1 {
    font-size: 180px;
    margin-bottom: 150px;
  }
  .card-item.is-active .card-item-header {
    padding: 30px;
  }
  .main-description {
    float: right;
    max-width: 50%;
    margin-top: -150px;
  }
}
@media screen and (min-width: 1024px) {
  .container-content {
    max-width: 70vw;
    padding: 0px 100px;
  }
  .left-first-img img {
    max-height: 800px;
  }
  .left-first-img h1 {
    font-size: 200px;
    margin-bottom: 170px;
  }
  .card-item.is-active .card-item-header-add {
    width: 48px;
    height: 48px;
  }
  .card-item.is-active .plus-icon:before,
  .card-item.is-active .plus-icon:after {
    height: 20px;
    margin: 7px 0px;
  }
}
@media screen and (min-width: 1280px) {
  .left-first-img h1 {
    font-size: 250px;
    margin-bottom: 170px;
  }
}
@media only screen and (min-width: 1440px) {
  .card-item {
    max-width: 70vw;
    /* styles here */
  }
  .container-content {
    max-width: 60vw;
    padding: 50px 100px;
  }
}
@media only screen and (min-width: 1680px) {
  .right-img img {
    max-width: 900px;
  }
  .left-img img {
    max-width: 900px;
  }
}
@media only screen and (min-width: 1920px) {
  .left-first-img h1 {
    width: 60%;
  }

  .card-item {
    max-width: 65vw;
    /* styles here */
  }
  .container-content {
    max-width: 50vw;
  }
}
[role="button"]:focus {
  outline: 2px solid #42b983;  /* Custom focus indicator for elements acting as buttons */
}